---
import Link from '@/components/base/Link.astro'
import SocialIcons from '@/components/base/SocialIcons.astro'
import { FOOTER_LINKS, SOCIAL_LINKS, SITE } from '@/config'
import { Icon } from 'astro-icon/components'
---

<footer class="font-pp-editorial-new mt-1 pt-1 pb-10 sm:pb-6">
  <div
    class="text-muted-foreground mt-4 flex flex-wrap justify-center gap-x-6 gap-y-1 px-6 pb-4 text-sm font-medium sm:px-8"
  >
    {
      FOOTER_LINKS.map((link) => (
        <Link
          href={link.href}
          class="hover:text-accent flex items-center gap-1.5 transition-colors"
        >
          {link.icon && <Icon name={link.icon} class="size-4" />}
          {link.label}
        </Link>
      ))
    }
  </div>
  <div
    class="mx-auto mb-8 flex max-w-screen-md flex-col items-center justify-center gap-2 text-center sm:mb-6"
  >
    <div class="mt-2">
      <SocialIcons links={SOCIAL_LINKS} />
    </div>

    <p class="text-muted-foreground mt-2">
      &copy; {new Date().getFullYear()} ・
      {
        SITE.footer.items.map((item) =>
          item.type === 'text' ? (
            <span>{item.value}</span>
          ) : (
            <Link
              href={item.href}
              class="text-accent transition-colors"
              underline
            >
              {item.label}
            </Link>
          ),
        )
      }
    </p>
  </div>

  <div class="m-0 mt-12 flex w-full justify-center p-0">
    <!-- footer Astro-Theme-Shyne typography -->
    <div
      class="text-accent pointer-events-none m-0 p-0 text-center leading-none font-bold whitespace-nowrap select-none font-bon-vivant"
      style="font-size: clamp(2.5rem, 10vw, 12.4rem);"
    >
      Astro-Theme-Shyne
    </div>
  </div>
</footer>
